<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <!-- the purpose of "locals." is to ensure no error is thrown if the "text" variable is not sent from server.js -->
  <h1>Hello there!</h1>
  <a href="/workouts">View Workouts</a>
  <a href="/workouts/new">Add New Set</a>
</body>
</html>