<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- link bootstrap / bs icons / bs js -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

  <!-- link stylesheets -->
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/index.css">

  <title>Home</title>
</head>
<body>

  <main>

    <section class="container-md">

      <!-- the purpose of "locals." is to ensure no error is thrown if the "text" variable is not sent from server.js -->
      <h1>Hello there!</h1>
      <a href="/workouts">View Workouts</a>
      <a href="/workouts/new">Add New Set</a>

      <form action="/create-username" method="POST">
        <input class="username-input" type="text" name="username" placeholder="your name">
      </form>

    </section>

  </main>

</body>
</html>