.form-container {
  border-width: 4px !important;
}

.back-to-workouts-link:hover {
  text-decoration: underline !important;
}

input {
  border: none !important;
  border-bottom: 1.6px solid var(--dark-surface) !important;
  color: var(--text-primary) !important;
  background-color: var(--elevated-surface) !important;
}
input::placeholder {
  color: var(--text-secondary) !important;
}

.end-workout-btn {
  border: 1px solid var(--t-color-accent);
  transition: all 0.1s ease;
}
.end-workout-btn:hover {
  background-color: hsla(16, 90%, 55%, 0.8) !important;
}

.exercises-counter {
  font-size: 1.5rem;
  border-radius: 64px;
  background-color: var(--elevated-surface);
}

.exercise-list-item {
  background-color: var(--t-color-accent);
}