#noWorkoutsMessage {
  border: 2px dashed var(--text-primary);
  height: 400px; 
  color:red; 
  background-color: hsla(204, 2%, 48%, 0.1);
}

.create-workout-btn:hover {
  text-decoration: underline !important;
}

/* user profile */
.user-profile {
  width: 40px; height: 100%;
  font-size: 1.2rem;
  border: 2px solid var(--elevated-surface);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.user-profile:hover,
.user-profile[aria-expanded="true"] {
  background-color: var(--color-accent) !important;
  color: var(--text-heading) !important;
}

.workout-card {
  border-radius: 8px;
  background-color: var(--elevated-surface);
}

.delete-workout-btn button {
  border: none;
  background-color: transparent;
}

.edit-exercise-btn {
  border: none;
  background: hsla(213, 100%, 50%, 0.4);
  font-size: 1.25rem;
}

.delete-exercise-btn {
  border: none;
  background: hsla(0, 100%, 50%, 0.4);
  font-size: 1.25rem;
}